{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
   .heading {
    color: {{ section.settings.heading_text_color}};
  }

  .button-{{ section.id }} {
      color: {{ section.settings.button_text_color }};
      background: {{ section.settings.button_background_color }};
    }
{% endstyle %}

<div class="richtext-section_image section-{{ section.id }}-padding">
  <div class="richtext page-width richtext-{{ section.id }}">
    <div class="richtext-image__wrapper-content">
      <div class="richtext-image__content-image">
        {% assign mobile_image = section.settings.image_desktop | default: section.settings.image_desktop %}
        {% render 'image',
          class: 'media media--custom-2',
          mobileSrc: mobile_image,
          desktopSrc: section.settings.image_desktop
        %}
      </div>
      <div class="richtext-image__content-text">
        <div class="richtext-image__wrapper-text flex  {{ section.settings.text_alignment }}  {{ section.settings.text_position }}">
          {% if section.settings.heading_text != blank %}
            <h3 class="richtext-image__heading heading">{{ section.settings.heading_text }}</h3>
          {% endif %}
          {% if section.settings.paragraph_text != blank %}
            <div class="richtext-image__paragraph heading">{{ section.settings.paragraph_text }}</div>
          {% endif %}
          {% if section.settings.button_text != blank and section.settings.button_link != blank %}
            <div class="image-text__button">
              <a
                class="button btn button--primary button-{{ section.id }}"
                href="{{ section.settings.button_link }}"
              >
                {{ section.settings.button_text }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Richtext collection",
  "tag": "section",
  "class": "homepage-section",
  "settings": [
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "Padding bottom",
      "default": 40
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Image",
      "info": "1200 x 500px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Image mobile",
      "info": "600 x 800px .jpg recommended"
    },
    {
      "type": "header",
      "content": "Heading text"
    }, {
      "type": "text",
      "id": "heading_text",
      "label": "Heading Text",
      "default": "OUR PROMISE"
    }, {
      "type": "color",
      "id": "heading_text_color",
      "label": "Heading text color",
      "default": "#FFFFFF"
    }, {
      "type": "header",
      "content": "Paragraph text"
    }, {
      "type": "richtext",
      "id": "paragraph_text",
      "label": "Pragraph Text",
      "default": "<p>FIND YOUR LOOK IN OUR CAREFULLY CURATED COLLECTIONS</p>"
    },
    {
      "type": "header",
      "content": "Button settings"
    }, {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
     {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },{
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#111111"
    }, {
      "type": "color",
      "id": "button_background_color",
      "label": "Button background color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Alignment settings"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        }, {
          "value": "text-center",
          "label": "Center"
        }, {
          "value": "text-right",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "header",
      "content": "Position settings"
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "justify-start",
          "label": "Top"
        }, {
          "value": "justify-center",
          "label": "Center"
        }, {
          "value": "justify-end",
          "label": "Bottom"
        }
      ],
      "default": "justify-center"
    }
  ],
  "presets": [
    {
      "name": "Image Richtext collection"
    }
  ]
}
{% endschema %}
