{% style %}
  .cart-container-amount{
    flex-direction:column;
    padding:10px;
  }
{% endstyle %}
<div class="cart-container page-width">
  <div class="cart-header flex center mb-20">
    <h3>Shopping Cart</h3>
  </div>
  <div class="cart-container-items flex flex-column">
    {% for item in cart.items %}
      <form action="/cart" method="post">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price | money }}</td>
                <td>
                  <input type="number" name="updates[]" value="{{ item.quantity }}">
                  <input type="hidden" name="id[]" value="{{ item.key }}">
                </td>
                <td>{{ item.price | times: item.quantity | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3">Subtotal</td>
              <td>{{ cart.subtotal_price | money }}</td>
            </tr>
            <tr>
              <td colspan="3">Shipping</td>
              <td>{{ cart.shipping_rate.price | money }}</td>
            </tr>
            <tr>
              <td colspan="3">Total</td>
              <td>{{ cart.total_price | money }}</td>
            </tr>
          </tfoot>
        </table>
        <input type="submit" value="Update Cart">
      </form>
    {% endfor %}
  </div>
  <div class="cart-container-amount flex center justify-center">
    <div class="cart-container-total ">
      <h2>Total: {{ cart.total_price | money }}</h2>
    </div>
    <div class="cart-container-buttons">
      <a href="{{ routes.cart_url }}" class="cart-button button button--secondary">View Cart</a>
      <a href="{{ routes.checkout_url }}" class="cart-button button button--primary">Checkout</a>
    </div>
  </div>
</div>
