{% style %}
  .cart-container-amount{
    flex-direction:column;
    padding:10px;
  }
{% endstyle %}
<div class="cart-container page-width">
  <div class="cart-header flex center mb-20">
    <h3>Shopping Cart</h3>
  </div>
  {% if cart.item_count == 0 %}
    <p>Your cart is empty.</p>
  {% else %}
    <div class="cart-container-items flex flex-column">
      {% for item in cart.items %}
        <div class="cart-container-item flex">
          <div class="cart-container-item-image">
            <img src="{{ item.image | img_url: 'medium' }}" alt="{{ item.title }}">
          </div>
          <div class="cart">
            <table>
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                  <tr>
                    <td>{{ item.product.title }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price | money }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="cart-total">
              <p>Total: {{ cart.total_price | money }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="cart-container-amount flex center justify-center">
    <div class="cart-container-total ">
      <h2>Total: {{ cart.total_price | money }}</h2>
    </div>
    <div class="cart-container-buttons">
      <a href="{{ routes.cart_url }}" class="cart-button button button--secondary">View Cart</a>
      <a href="{{ routes.checkout_url }}" class="cart-button button button--primary">Checkout</a>
    </div>
  </div>
</div>
